
.header-container{
  height: 80px;

}

.header-btn {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: var(--dark-blue);
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: none;
  font-weight: 700;
  transition: 0.3s;
  font-size: 1em;
}

.header-btn:hover {
  box-shadow: 0 0 5px gray;
  background-color: #13195e;
}