@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --dark-blue: #13183e;
  --bcg-darker: #f0f3fe;
  --text-light: #8b8a92;
  --light-orange: #ff704e;
  --pink: #ef2ca4;
  --violet: #6a49ee;
}

.font-lighter {
  color: var(--text-light);
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  color: var(--dark-blue);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(white, var(--bcg-darker));
  overflow-x: hidden;
}

.logo {
  font-size: 2.4em;
  font-weight: 700;
  color: var(--dark-blue);
}

.container {
  max-width: 767px;
}

@media (min-width: 375px), (max-width: 375px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 768px){
  .container{
      max-width: 1000px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1400px) {
  .container {
    min-width: 1110px;
  }
}
